
    .weng {
	    text-align:center;
	    text-align: center;
	    width: 60%;
    	height: 20%;
    	margin: 20px 0 0 0;
	    padding: 0 0 20px 14em;
    
    }

    body {
	    background-color: #ececec;
	    font-family: Georgia, Times New Roman, Times, serif;
    }   

    h1 {
	    font-size: 36px;
	    font-weight: normal;
	    color: #666;
	    padding: 0;
	    line-height: 36pt;
	    text-align: center;
	    margin-bottom: 1em;
    }

    h2 {
	    font-size: 28px;
	    color: #ccc;
	    font-weight: normal;
	    text-transform: none;
	    line-height: 28pt;
	    text-align: center;
    }

    p {
	    font-size: 24px;
	    color: #666;
	    line-height: 24pt;
	    text-align: left;
	    text-indent: 50px;
	    letter-spacing: 2px;
	    margin-bottom: 20px;
    }

    h6 {
    	font-size: 24px;
    	padding: 55px 0 0;
	    color: #666;
	    line-height: 24pt;
	    text-align: center;
    }





/* link to second page na about me */


    ul.aboutOwie {
	    font-family: Georgia, Times New Roman, Times, serif;
	    list-style-type: none;
	    margin: 0;
	    padding: 20px 0;
	    font-size: 24px;
	    color: #666;
	    line-height: 36px;
	    text-align: center;
	    overflow: auto;
    }

    li a:link,  li a:visited {
	    padding: 0;
	    text-decoration: none;
	    font-size: 24px;
	    text-align: center;
	    color: #708090;
        animation: weng 1s infinite;
        animation-delay: 0ms;
    }
    
    @keyframes weng {
        10% {
            text-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        50% {
            text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        }
        100% {
            text-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
    
    }
    
    .hays {
	    font-family: Georgia, Times New Roman, Times, serif;
	    border: solid #ccc 1px;
	    position: relative;
    	width: 85%;
	    height: auto;
	    min-height: 600px;
	    background-color: #fff;
	    margin: 24px auto 0;
	    padding: 60px 48px 48px;
	    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 60px rgba(0, 0, 0, 0.1) inset;
    }

    .hays:after, .hays:before {
    	z-index: -1;
    	position: absolute;
    	background: transparent;
	    width: 600px;
	    height: 600px;
	    content: '';
	    bottom: 25px;
    }

    .hays:after {
	    right: 80px;
	    transform-origin: right bottom;
	    transform: skew(15deg) rotate(5deg);
	    box-shadow: 8px 12px 10px rgba(0, 0, 0, 0.3);
	    transform: skew(15deg) rotate(5deg);
	    box-shadow: 8px 12px 10px rgba(0, 0, 0, 0.3);
    }

    .hays:before {
	    left: 80px;
	    transform-origin: left bottom;
	    transform: skew(-15deg) rotate(-5deg);
	    box-shadow: -8px 12px 10px rgba(0, 0, 0, 0.3);
	    transform: skew(-15deg) rotate(-5deg);
	    box-shadow: -8px 12px 10px rgba(0, 0, 0, 0.3);
    }

    #page {
	    width: auto;
	    height: auto;
	    margin: 0 100px;
	    padding: 0;
	    background-color: transparent;
	    overflow: auto;
    }

    #hehe {
	    text-align:center;
	    text-align: center;
	    width: 100%;
    	height: 120px;
    	margin: 40px 0 0 0;
	    padding: 0 0 20px 0;
    }


    #picFoxAndCrow {
	    position: relative;
	    float: right;
	    margin: 0 0 12px 24px;
	    overflow: hidden;
        background-image: url(foxCrow.jpg);
    }

